<div id="<%= dom_id reply %>">
  <p>
    <strong>Body:</strong>
    <%= reply.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reply.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= reply.post_id %>
  </p>

</div>
