<h1>Editing group member</h1>

<%= render "form", group_member: @group_member %>

<br>

<div>
  <%= link_to "Show this group member", @group_member %> |
  <%= link_to "Back to group members", group_members_path %>
</div>
